source/index.pug
extends blocks/MainLayout.pug
block content
    include blocks/SVG.pug

    .index
        h1 Universal Mixin UI Kit

        .index__col.index__col_width_50
            h2  Grid
            include blocks/grid/grid.pug


            .index__col.index__col_width_100x50
                h2 Buttons

                .index__buttons.index__buttons_row
                    .index__btn.index__btn_width_50x33
                        include blocks/button/button.pug
                    .index__btn.index__btn_width_50x33
                        button(type='submit').button.button_success Button
                    .index__btn.index__btn_width_50x33
                        button(type='submit').button.button_neutral_clear Button
                    .index__btn.index__btn_width_50x33
                        button(type='submit').button.button_alert Button
                    .index__btn.index__btn_width_50x33
                        button(type='submit').button.button_conform Button
                    .index__btn.index__btn_width_50x33
                        button(type='submit').button.button_neutral Button
                    .index__btn.index__btn_width_50x33
                        button(type='submit').button.button_clear_alert Button
                    .index__btn.index__btn_width_50x33
                        button(type='submit').button.button_clear_success Button
                    .index__btn.index__btn_width_50x33
                        button(type='submit').button.button_clear_default Button


                    .index__btn.index__btn_width_50
                        button(type='submit').button.button_big Default
                    .index__btn.index__btn_width_50
                        button(type='submit').button.button_success.button_big Succsess
                    .index__btn.index__btn_width_50
                        button(type='submit').button.button_neutral_clear.button_big Info
                    .index__btn.index__btn_width_50
                        button(type='submit').button.button_alert.button_big Alert
                    .index__btn
                        button(type='submit').button.button_alert.button_success.button_big Alert

                    //.index__btn.index__btn_width_3
                    //    button(type='submit').button.button_ico_search


            .index__col.index__col_width_100x50







                h2 Forms
                .index__inputs.index__inputs_row
                    .index__input
                        include blocks/input/input.pug
                    .index__input
                        input(type="text" placeholder="Inactive").input.input_neutral_clear
                    .index__input
                        input(type="text" placeholder="Error").input.input_alert
                    .index__input
                        input(type="text" placeholder="Disaple" disabled="disable").input.input_disable
                    .index__input
                        include blocks/input-search/input-search.pug

                .index__dots.index__dots_row
                    .index__dot.index__dot_width_50
                        include blocks/input-dot/input-dot.pug
                    .index__dot.index__dot_width_50
                        .input-dot
                            input(type="checkbox" name="check" id="check2" disabled="disable").input-dot__input
                            label(for="check2").input-dot__label
                                span.input-dot__dot.input-dot__dot_check
                                span.input-dot__text Выбери

                    .index__dot.index__dot_width_50
                        .input-dot
                            input(type="checkbox" name="check" id="check3" checked).input-dot__input
                            label(for="check3").input-dot__label
                                span.input-dot__dot.input-dot__dot_check
                                span.input-dot__text Выбери

                    .index__dot.index__dot_width_50
                        .input-dot
                            input(type="checkbox" name="check" id="check4" checked disabled="disable").input-dot__input
                            label(for="check4").input-dot__label
                                span.input-dot__dot.input-dot__dot_check
                                span.input-dot__text Выбери

                    .index__dot.index__dot_width_50
                        .input-dot
                            input(type="radio" name="dot" id="dot1").input-dot__input
                            label(for="dot1").input-dot__label
                                span.input-dot__dot.input-dot__dot_radio
                                span.input-dot__text Button

                    .index__dot.index__dot_width_50
                        .input-dot
                            input(type="radio" name="dot" id="dot2" disabled="disable").input-dot__input
                            label(for="dot2").input-dot__label
                                span.input-dot__dot.input-dot__dot_radio
                                span.input-dot__text Button

                    .index__dot.index__dot_width_50
                        .input-dot
                            input(type="radio" name="dot" id="dot4" checked  ).input-dot__input
                            label(for="dot4").input-dot__label
                                span.input-dot__dot.input-dot__dot_radio
                                span.input-dot__text Button

                    .index__dot.index__dot_width_50
                        .input-dot
                            input(type="radio" name="dotd" id="dot3" checked disabled="disable").input-dot__input
                            label(for="dot3").input-dot__label
                                span.input-dot__dot.input-dot__dot_radio
                                span.input-dot__text Button

            h2 Toggle
                .index__toggles.index__toggles_row
                    .index__toggle.index__toggle_width_50
                        include blocks/input-toggle/input-toggle.pug

                    .index__toggle.index__toggle_width_50
                        .input-toggle
                            input(type="checkbox" name="toggle" id="toggle2" disabled="disable").input-toggle__input
                            label(for="toggle2").input-toggle__label
                                span.input-toggle__dot.input-toggle__dot_on On
                                span.input-toggle__dot.input-toggle__dot_off Off
                            span.input-toggle__text VKontakte

                    .index__toggle.index__toggle_width_50
                        .input-toggle
                            input(type="checkbox" name="toggle" id="toggle3" checked ).input-toggle__input
                            label(for="toggle3").input-toggle__label
                                span.input-toggle__dot.input-toggle__dot_on On
                                span.input-toggle__dot.input-toggle__dot_off Off
                            span.input-toggle__text Twitter

                    .index__toggle.index__toggle_width_50
                        .input-toggle
                            input(type="checkbox" name="toggle" id="toggle4" checked disabled="disable").input-toggle__input
                            label(for="toggle4").input-toggle__label
                                span.input-toggle__dot.input-toggle__dot_on On
                                span.input-toggle__dot.input-toggle__dot_off Off
                            span.input-toggle__text Google

        .index__col.index__col_width_50
            h2 Menu
            .index__menu
                include blocks/main-menu/main-menu.pug

    //h1 Grid
    //
    //.grid.grid_row
    //    .grid__element.grid__element_width_25x50x10
    //        .grid__content.grid__content_border_solid_3.grid__content_border_color width: 25x50x10
    //    .grid__element.grid__element_width_25x50x10
    //        .grid__content.grid__content_border_solid_3.grid__content_border_color width: 25x50x10
    //    .grid__element.grid__element_width_25x50x10
    //        .grid__content.grid__content_border_solid_3.grid__content_border_color width: 25x50x10
    //    .grid__element.grid__element_width_25x50x10
    //        .grid__content.grid__content_border_solid_3.grid__content_border_color width: 25x50x10
    //    .grid__element.grid__element_width_25x50x10
    //        .grid__content.grid__content_border_solid_3.grid__content_border_color width: 25x50x10
    //    .grid__element.grid__element_width_25x50x10
    //        .grid__content.grid__content_border_solid_3.grid__content_border_color width: 25x50x10
    //    .grid__element.grid__element_width_25x50x10
    //        .grid__content.grid__content_border_solid_3.grid__content_border_color width: 25x50x10
    //    .grid__element.grid__element_width_25x50x10
    //        .grid__content.grid__content_border_solid_3.grid__content_border_color width: 25x50x10
    //    .grid__element.grid__element_width_25x50x10
    //        .grid__content.grid__content_border_solid_3.grid__content_border_color width: 25x50x10
    //    .grid__element.grid__element_width_25x50x10
    //        .grid__content.grid__content_border_solid_3.grid__content_border_color width: 25x50x10
    //
    //    .grid__element.grid__element_width_100x50x20
    //        .grid__content.grid__content_border_solid_3.grid__content_border_color width: 100x50x20
    //    .grid__element.grid__element_width_100x50x80
    //        .grid__content.grid__content_border_solid_3.grid__content_border_color width: 100x50x80
    //
    //    .grid__element.grid__element_width_100x50x30
    //        .grid__content.grid__content_border_solid_3.grid__content_border_color width: 100x50x30
    //    .grid__element.grid__element_width_100x50x70
    //        .grid__content.grid__content_border_solid_3.grid__content_border_color width: 100x50x70
    //
    //    .grid__element.grid__element_width_50x25x10
    //        .grid__content.grid__content_border_solid_3.grid__content_border_color width: 50x25x10
    //    .grid__element.grid__element_width_50x25x20
    //        .grid__content.grid__content_border_solid_3.grid__content_border_color width: 50x25x20
    //    .grid__element.grid__element_width_50x25x30
    //        .grid__content.grid__content_border_solid_3.grid__content_border_color width: 50x25x30
    //    .grid__element.grid__element_width_50x25x40
    //        .grid__content.grid__content_border_solid_3.grid__content_border_color width: 50x25x40
    //
    //    .grid__element.grid__element_width_100x33x30
    //        .grid__content.grid__content_border_solid_3.grid__content_border_color width: 100x33x30
    //    .grid__element.grid__element_width_100x33x30
    //        .grid__content.grid__content_border_solid_3.grid__content_border_color width: 100x33x30
    //    .grid__element.grid__element_width_100x33x40
    //        .grid__content.grid__content_border_solid_3.grid__content_border_color width: 100x33x40
    //
    //
    //    .grid__element.grid__element_width_50x50x25
    //        .grid__content.grid__content_border_solid_3.grid__content_border_color width: 50x50x25
    //    .grid__element.grid__element_width_50x50x25
    //        .grid__content.grid__content_border_solid_3.grid__content_border_color width: 50x50x25
    //    .grid__element.grid__element_width_50x50x25
    //        .grid__content.grid__content_border_solid_3.grid__content_border_color width: 50x50x25
    //    .grid__element.grid__element_width_50x50x25
    //        .grid__content.grid__content_border_solid_3.grid__content_border_color width: 50x50x25
    //
    //h1 Buttons and inputs
    //
    //    h2 Button
    //
    //    .btn-blocks.btn-blocks_row
    //        .btn-blocks__element.btn-blocks__element_width_100x50x100
    //            button.btn.btn_border_solid_2.btn_success Успешно
    //        .btn-blocks__element.btn-blocks__element_width_100x50x150
    //            button(type="submit").btn.btn_border_solid_2.btn_error Нет
    //        .btn-blocks__element.btn-blocks__element_width_100x25x250
    //            button(type="submit").btn.btn_border_solid_2.btn_conform Да
    //        .btn-blocks__element.btn-blocks__element_width_100x75x450
    //            button(type="submit").btn.btn_border_solid_2.btn_alert Внимание
    //
    //    h2 Check and radio box
    //
    //    .btn-blocks.btn-blocks_row
    //        .btn-blocks__element.btn-blocks__element_width_50x50x50
    //            .btn-blocks__content
    //                .input-dot
    //                    input(type="radio" name="dot" id="dot1").input-dot__input
    //                    label(for="dot1").input-dot__label
    //                        span.input-dot__dot.input-dot__dot_radio
    //                        span.input-dot__text Button
    //
    //                .input-dot
    //                    input(type="radio" name="dot" id="dot2").input-dot__input
    //                    label(for="dot2").input-dot__label
    //                        span.input-dot__dot.input-dot__dot_radio
    //                        span.input-dot__text Button
    //                .input-dot
    //                    input(type="radio" name="dot" id="dot3").input-dot__input
    //                    label(for="dot3").input-dot__label
    //                        span.input-dot__dot.input-dot__dot_radio
    //                        span.input-dot__text Button
    //
    //        .btn-blocks__element.btn-blocks__element_width_50x50x50
    //            .btn-blocks__content
    //                .input-dot
    //                    input(type="checkbox" name="check" id="check1").input-dot__input
    //                    label(for="check1").input-dot__label
    //                        span.input-dot__dot.input-dot__dot_check
    //                        span.input-dot__text Выбери
    //
    //                .input-dot
    //                    input(type="checkbox" name="check" id="check2").input-dot__input
    //                    label(for="check2").input-dot__label
    //                        span.input-dot__dot.input-dot__dot_check
    //                        span.input-dot__text Выбери
    //                .input-dot
    //                    input(type="checkbox" name="check" id="check3").input-dot__input
    //                    label(for="check3").input-dot__label
    //                        span.input-dot__dot.input-dot__dot_check
    //                        span.input-dot__text Выбери

public/index.html
<!DOCTYPE !>
<html lang="ru">
  <head>
    <title>4A Group: Revolution WEB.</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="icon" href="/favicon.ico" type="image/x-icon"/>
    <link rel="stylesheet" href="css/MainCss.css"/>
  </head>
  <body>
    <div class="allContent__wrapper">
      <div class="allContent">
        <!--include header/header.pug-->
        <!--include inputSend/inputSend.pug-->
        <div class="mySVG">
          <svg xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" width="510px" height="510px" viewBox="0 0 510 510" style="enable-background:new 0 0 510 510;" xml:space="preserve">
            <g id="home">
              <polygon points="204,471.75 204,318.75 306,318.75 306,471.75 433.5,471.75 433.5,267.75 510,267.75 255,38.25 0,267.75     76.5,267.75 76.5,471.75   "></polygon>
            </g>
          </svg>
        </div>
        <div class="index">
          <h1>Universal Mixin UI Kit</h1>
          <div class="index__col index__col_width_50">
            <h2> Grid</h2>
            <div class="grid grid_row">
              <div class="grid__element grid__element_width_25x50x10">
                <div class="grid__content grid__content_border_solid_2 grid__content_border_color">Grid</div>
              </div>
              <div class="grid__element grid__element_width_25x50x10">
                <div class="grid__content grid__content_border_solid_2 grid__content_border_color">Grid</div>
              </div>
              <div class="grid__element grid__element_width_25x50x10">
                <div class="grid__content grid__content_border_solid_2 grid__content_border_color">Grid</div>
              </div>
              <div class="grid__element grid__element_width_25x50x10">
                <div class="grid__content grid__content_border_solid_2 grid__content_border_color">Grid</div>
              </div>
              <div class="grid__element grid__element_width_25x50x10">
                <div class="grid__content grid__content_border_solid_2 grid__content_border_color">Grid</div>
              </div>
              <div class="grid__element grid__element_width_25x50x10">
                <div class="grid__content grid__content_border_solid_2 grid__content_border_color">Grid</div>
              </div>
              <div class="grid__element grid__element_width_25x50x10">
                <div class="grid__content grid__content_border_solid_2 grid__content_border_color">Grid</div>
              </div>
              <div class="grid__element grid__element_width_25x50x10">
                <div class="grid__content grid__content_border_solid_2 grid__content_border_color">Grid</div>
              </div>
              <div class="grid__element grid__element_width_25x50x10">
                <div class="grid__content grid__content_border_solid_2 grid__content_border_color">Grid</div>
              </div>
              <div class="grid__element grid__element_width_25x50x10">
                <div class="grid__content grid__content_border_solid_2 grid__content_border_color">Grid</div>
              </div>
              <div class="grid__element grid__element_width_50x20">
                <div class="grid__content grid__content_border_solid_2 grid__content_border_color">Grid</div>
              </div>
              <div class="grid__element grid__element_width_50x30">
                <div class="grid__content grid__content_border_solid_2 grid__content_border_color">Grid</div>
              </div>
              <div class="grid__element grid__element_width_50">
                <div class="grid__content grid__content_border_solid_2 grid__content_border_color">Grid</div>
              </div>
            </div>
            <div class="index__col index__col_width_100x50">
              <h2>Buttons</h2>
              <div class="index__buttons index__buttons_row">
                <div class="index__btn index__btn_width_50x33">
                  <button class="button" type="submit">Button</button>
                  <!--button(type='submit').button.button_success Нажми-->
                  <!--button(type='submit').button.button_neutral_clear Нажми-->
                  <!--button(type='submit').button.button_conform Нажми-->
                  <!--button(type='submit').button.button_alert Нажми-->
                  <!--button(type='submit').button.button_neutral Нажми-->
                  <!--button(type='submit').button.button_clear_alert Нажми-->
                  <!--button(type='submit').button.button_clear_success Нажми-->
                  <!--button(type='submit').button.button_clear_default Нажми-->
                  <!--button(type='submit').button.button_ico_search Нажми-->
                </div>
                <div class="index__btn index__btn_width_50x33">
                  <button class="button button_success" type="submit">Button</button>
                </div>
                <div class="index__btn index__btn_width_50x33">
                  <button class="button button_neutral_clear" type="submit">Button</button>
                </div>
                <div class="index__btn index__btn_width_50x33">
                  <button class="button button_alert" type="submit">Button</button>
                </div>
                <div class="index__btn index__btn_width_50x33">
                  <button class="button button_conform" type="submit">Button</button>
                </div>
                <div class="index__btn index__btn_width_50x33">
                  <button class="button button_neutral" type="submit">Button</button>
                </div>
                <div class="index__btn index__btn_width_50x33">
                  <button class="button button_clear_alert" type="submit">Button</button>
                </div>
                <div class="index__btn index__btn_width_50x33">
                  <button class="button button_clear_success" type="submit">Button</button>
                </div>
                <div class="index__btn index__btn_width_50x33">
                  <button class="button button_clear_default" type="submit">Button</button>
                </div>
                <div class="index__btn index__btn_width_50">
                  <button class="button button_big" type="submit">Default</button>
                </div>
                <div class="index__btn index__btn_width_50">
                  <button class="button button_success button_big" type="submit">Succsess</button>
                </div>
                <div class="index__btn index__btn_width_50">
                  <button class="button button_neutral_clear button_big" type="submit">Info</button>
                </div>
                <div class="index__btn index__btn_width_50">
                  <button class="button button_alert button_big" type="submit">Alert</button>
                </div>
                <div class="index__btn">
                  <button class="button button_alert button_success button_big" type="submit">Alert</button>
                </div>
                <!--.index__btn.index__btn_width_3-->
                <!--    button(type='submit').button.button_ico_search-->
              </div>
            </div>
            <div class="index__col index__col_width_100x50">
              <h2>Forms</h2>
              <div class="index__inputs index__inputs_row">
                <div class="index__input">
                  <input class="input" type="text" placeholder="Standart"/>
                  <!--input(type="text").input.input_neutral_clear-->
                  <!--input(type="text").input.input_alert-->
                  <!--input(type="text").input.input_disable-->
                </div>
                <div class="index__input">
                  <input class="input input_neutral_clear" type="text" placeholder="Inactive"/>
                </div>
                <div class="index__input">
                  <input class="input input_alert" type="text" placeholder="Error"/>
                </div>
                <div class="index__input">
                  <input class="input input_disable" type="text" placeholder="Disaple" disabled="disable"/>
                </div>
                <div class="index__input">
                  <div class="input-search">
                    <div class="input-search__input">
                      <input class="input" type="text" placeholder="Standart"/>
                      <!--input(type="text").input.input_neutral_clear-->
                      <!--input(type="text").input.input_alert-->
                      <!--input(type="text").input.input_disable-->
                    </div>
                    <div class="input-search__search-btn">
                      <button class="button button_ico_search" type="submit"></button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="index__dots index__dots_row">
                <div class="index__dot index__dot_width_50">
                  <div class="input-dot">
                    <input class="input-dot__input" type="checkbox" name="check" id="check1"/>
                    <label class="input-dot__label" for="check1"><span class="input-dot__dot input-dot__dot_check"></span><span class="input-dot__text">Выбери</span></label>
                  </div>
                  <!--.input-dot-->
                  <!--    input(type="radio" name="dot" id="dot3").input-dot__input-->
                  <!--    label(for="dot3").input-dot__label-->
                  <!--        span.input-dot__dot.input-dot__dot_radio-->
                  <!--        span.input-dot__text Button-->
                </div>
                <div class="index__dot index__dot_width_50">
                  <div class="input-dot">
                    <input class="input-dot__input" type="checkbox" name="check" id="check2" disabled="disable"/>
                    <label class="input-dot__label" for="check2"><span class="input-dot__dot input-dot__dot_check"></span><span class="input-dot__text">Выбери</span></label>
                  </div>
                </div>
                <div class="index__dot index__dot_width_50">
                  <div class="input-dot">
                    <input class="input-dot__input" type="checkbox" name="check" id="check3" checked="checked"/>
                    <label class="input-dot__label" for="check3"><span class="input-dot__dot input-dot__dot_check"></span><span class="input-dot__text">Выбери</span></label>
                  </div>
                </div>
                <div class="index__dot index__dot_width_50">
                  <div class="input-dot">
                    <input class="input-dot__input" type="checkbox" name="check" id="check4" checked="checked" disabled="disable"/>
                    <label class="input-dot__label" for="check4"><span class="input-dot__dot input-dot__dot_check"></span><span class="input-dot__text">Выбери</span></label>
                  </div>
                </div>
                <div class="index__dot index__dot_width_50">
                  <div class="input-dot">
                    <input class="input-dot__input" type="radio" name="dot" id="dot1"/>
                    <label class="input-dot__label" for="dot1"><span class="input-dot__dot input-dot__dot_radio"></span><span class="input-dot__text">Button</span></label>
                  </div>
                </div>
                <div class="index__dot index__dot_width_50">
                  <div class="input-dot">
                    <input class="input-dot__input" type="radio" name="dot" id="dot2" disabled="disable"/>
                    <label class="input-dot__label" for="dot2"><span class="input-dot__dot input-dot__dot_radio"></span><span class="input-dot__text">Button</span></label>
                  </div>
                </div>
                <div class="index__dot index__dot_width_50">
                  <div class="input-dot">
                    <input class="input-dot__input" type="radio" name="dot" id="dot4" checked="checked"/>
                    <label class="input-dot__label" for="dot4"><span class="input-dot__dot input-dot__dot_radio"></span><span class="input-dot__text">Button</span></label>
                  </div>
                </div>
                <div class="index__dot index__dot_width_50">
                  <div class="input-dot">
                    <input class="input-dot__input" type="radio" name="dotd" id="dot3" checked="checked" disabled="disable"/>
                    <label class="input-dot__label" for="dot3"><span class="input-dot__dot input-dot__dot_radio"></span><span class="input-dot__text">Button</span></label>
                  </div>
                </div>
              </div>
            </div>
            <h2>Toggle
              <div class="index__toggles index__toggles_row">
                <div class="index__toggle index__toggle_width_50">
                  <div class="input-toggle">
                    <input class="input-toggle__input" type="checkbox" name="toggle" id="toggle1"/>
                    <label class="input-toggle__label" for="toggle1"><span class="input-toggle__dot input-toggle__dot_on">On</span><span class="input-toggle__dot input-toggle__dot_off">Off</span></label><span class="input-toggle__text">Facebook</span>
                  </div>
                  <!--.input-toggle-->
                  <!--    input(type="radio" name="dot" id="dot3").input-toggle__input-->
                  <!--    label(for="dot3").input-toggle__label-->
                  <!--        span.input-toggle__dot.input-toggle__dot_radio-->
                  <!--        span.input-toggle__text Button-->
                </div>
                <div class="index__toggle index__toggle_width_50">
                  <div class="input-toggle">
                    <input class="input-toggle__input" type="checkbox" name="toggle" id="toggle2" disabled="disable"/>
                    <label class="input-toggle__label" for="toggle2"><span class="input-toggle__dot input-toggle__dot_on">On</span><span class="input-toggle__dot input-toggle__dot_off">Off</span></label><span class="input-toggle__text">VKontakte</span>
                  </div>
                </div>
                <div class="index__toggle index__toggle_width_50">
                  <div class="input-toggle">
                    <input class="input-toggle__input" type="checkbox" name="toggle" id="toggle3" checked="checked"/>
                    <label class="input-toggle__label" for="toggle3"><span class="input-toggle__dot input-toggle__dot_on">On</span><span class="input-toggle__dot input-toggle__dot_off">Off</span></label><span class="input-toggle__text">Twitter</span>
                  </div>
                </div>
                <div class="index__toggle index__toggle_width_50">
                  <div class="input-toggle">
                    <input class="input-toggle__input" type="checkbox" name="toggle" id="toggle4" checked="checked" disabled="disable"/>
                    <label class="input-toggle__label" for="toggle4"><span class="input-toggle__dot input-toggle__dot_on">On</span><span class="input-toggle__dot input-toggle__dot_off">Off</span></label><span class="input-toggle__text">Google</span>
                  </div>
                </div>
              </div>
            </h2>
          </div>
          <div class="index__col index__col_width_50">
            <h2>Menu</h2>
            <div class="index__menu">
              <ul class="main-menu">
                <input class="main-menu__list_hamburger_input" type="checkbox" id="hamburger"/>
                <label class="main-menu__list main-menu__list_hamburger" for="hamburger"></label>
                <li class="main-menu__list"><a class="main-menu__link" href="#">
                    <div class="main-menu__link-icon">
                      <svg width="14px" height="14px" viewBox="0 0 510 510">
                        <use class="ic-2" xlink:href="#home"></use>
                      </svg>
                    </div><span class="main-menu__content">Home</span></a></li>
                <li class="main-menu__list"><a class="main-menu__link" href="#"><span>Something</span></a></li>
                <li class="main-menu__list"><a class="main-menu__link" href="#"><span>Hover</span></a>
                  <div class="main-menu__sub-menu">
                    <ul class="sub-menu">
                      <li class="sub-menu__list"><a class="sub-menu__link" href="#">content</a></li>
                      <li class="sub-menu__list"><a class="sub-menu__link" href="#">content</a></li>
                      <li class="sub-menu__list"><a class="sub-menu__link" href="#">content</a></li>
                      <li class="sub-menu__list"><a class="sub-menu__link" href="#">content</a></li>
                      <li class="sub-menu__list"><a class="sub-menu__link" href="#">content</a></li>
                    </ul>
                  </div>
                </li>
                <li class="main-menu__list main-menu__list_click">
                  <input class="main-menu__sub_click" type="checkbox" id="click"/>
                  <label class="main-menu__link main-menu__link" for="click"><span>Click</span></label>
                  <div class="main-menu__sub-menu">
                    <ul class="sub-menu">
                      <li class="sub-menu__list"><a class="sub-menu__link" href="#">content</a></li>
                      <li class="sub-menu__list"><a class="sub-menu__link" href="#">content</a></li>
                      <li class="sub-menu__list"><a class="sub-menu__link" href="#">content</a></li>
                      <li class="sub-menu__list"><a class="sub-menu__link" href="#">content</a></li>
                      <li class="sub-menu__list"><a class="sub-menu__link" href="#">content</a></li>
                    </ul>
                  </div>
                  <div class="main-menu__main-menu"></div>
                </li>
                <li class="main-menu__list"><a class="main-menu__link main-menu__link_last" href="#">Contacnts</a></li>
              </ul>
            </div>
          </div>
        </div>
        <!--h1 Grid-->
        <!---->
        <!--.grid.grid_row-->
        <!--    .grid__element.grid__element_width_25x50x10-->
        <!--        .grid__content.grid__content_border_solid_3.grid__content_border_color width: 25x50x10-->
        <!--    .grid__element.grid__element_width_25x50x10-->
        <!--        .grid__content.grid__content_border_solid_3.grid__content_border_color width: 25x50x10-->
        <!--    .grid__element.grid__element_width_25x50x10-->
        <!--        .grid__content.grid__content_border_solid_3.grid__content_border_color width: 25x50x10-->
        <!--    .grid__element.grid__element_width_25x50x10-->
        <!--        .grid__content.grid__content_border_solid_3.grid__content_border_color width: 25x50x10-->
        <!--    .grid__element.grid__element_width_25x50x10-->
        <!--        .grid__content.grid__content_border_solid_3.grid__content_border_color width: 25x50x10-->
        <!--    .grid__element.grid__element_width_25x50x10-->
        <!--        .grid__content.grid__content_border_solid_3.grid__content_border_color width: 25x50x10-->
        <!--    .grid__element.grid__element_width_25x50x10-->
        <!--        .grid__content.grid__content_border_solid_3.grid__content_border_color width: 25x50x10-->
        <!--    .grid__element.grid__element_width_25x50x10-->
        <!--        .grid__content.grid__content_border_solid_3.grid__content_border_color width: 25x50x10-->
        <!--    .grid__element.grid__element_width_25x50x10-->
        <!--        .grid__content.grid__content_border_solid_3.grid__content_border_color width: 25x50x10-->
        <!--    .grid__element.grid__element_width_25x50x10-->
        <!--        .grid__content.grid__content_border_solid_3.grid__content_border_color width: 25x50x10-->
        <!---->
        <!--    .grid__element.grid__element_width_100x50x20-->
        <!--        .grid__content.grid__content_border_solid_3.grid__content_border_color width: 100x50x20-->
        <!--    .grid__element.grid__element_width_100x50x80-->
        <!--        .grid__content.grid__content_border_solid_3.grid__content_border_color width: 100x50x80-->
        <!---->
        <!--    .grid__element.grid__element_width_100x50x30-->
        <!--        .grid__content.grid__content_border_solid_3.grid__content_border_color width: 100x50x30-->
        <!--    .grid__element.grid__element_width_100x50x70-->
        <!--        .grid__content.grid__content_border_solid_3.grid__content_border_color width: 100x50x70-->
        <!---->
        <!--    .grid__element.grid__element_width_50x25x10-->
        <!--        .grid__content.grid__content_border_solid_3.grid__content_border_color width: 50x25x10-->
        <!--    .grid__element.grid__element_width_50x25x20-->
        <!--        .grid__content.grid__content_border_solid_3.grid__content_border_color width: 50x25x20-->
        <!--    .grid__element.grid__element_width_50x25x30-->
        <!--        .grid__content.grid__content_border_solid_3.grid__content_border_color width: 50x25x30-->
        <!--    .grid__element.grid__element_width_50x25x40-->
        <!--        .grid__content.grid__content_border_solid_3.grid__content_border_color width: 50x25x40-->
        <!---->
        <!--    .grid__element.grid__element_width_100x33x30-->
        <!--        .grid__content.grid__content_border_solid_3.grid__content_border_color width: 100x33x30-->
        <!--    .grid__element.grid__element_width_100x33x30-->
        <!--        .grid__content.grid__content_border_solid_3.grid__content_border_color width: 100x33x30-->
        <!--    .grid__element.grid__element_width_100x33x40-->
        <!--        .grid__content.grid__content_border_solid_3.grid__content_border_color width: 100x33x40-->
        <!---->
        <!---->
        <!--    .grid__element.grid__element_width_50x50x25-->
        <!--        .grid__content.grid__content_border_solid_3.grid__content_border_color width: 50x50x25-->
        <!--    .grid__element.grid__element_width_50x50x25-->
        <!--        .grid__content.grid__content_border_solid_3.grid__content_border_color width: 50x50x25-->
        <!--    .grid__element.grid__element_width_50x50x25-->
        <!--        .grid__content.grid__content_border_solid_3.grid__content_border_color width: 50x50x25-->
        <!--    .grid__element.grid__element_width_50x50x25-->
        <!--        .grid__content.grid__content_border_solid_3.grid__content_border_color width: 50x50x25-->
        <!---->
        <!--h1 Buttons and inputs-->
        <!---->
        <!--    h2 Button-->
        <!---->
        <!--    .btn-blocks.btn-blocks_row-->
        <!--        .btn-blocks__element.btn-blocks__element_width_100x50x100-->
        <!--            button.btn.btn_border_solid_2.btn_success Успешно-->
        <!--        .btn-blocks__element.btn-blocks__element_width_100x50x150-->
        <!--            button(type="submit").btn.btn_border_solid_2.btn_error Нет-->
        <!--        .btn-blocks__element.btn-blocks__element_width_100x25x250-->
        <!--            button(type="submit").btn.btn_border_solid_2.btn_conform Да-->
        <!--        .btn-blocks__element.btn-blocks__element_width_100x75x450-->
        <!--            button(type="submit").btn.btn_border_solid_2.btn_alert Внимание-->
        <!---->
        <!--    h2 Check and radio box-->
        <!---->
        <!--    .btn-blocks.btn-blocks_row-->
        <!--        .btn-blocks__element.btn-blocks__element_width_50x50x50-->
        <!--            .btn-blocks__content-->
        <!--                .input-dot-->
        <!--                    input(type="radio" name="dot" id="dot1").input-dot__input-->
        <!--                    label(for="dot1").input-dot__label-->
        <!--                        span.input-dot__dot.input-dot__dot_radio-->
        <!--                        span.input-dot__text Button-->
        <!---->
        <!--                .input-dot-->
        <!--                    input(type="radio" name="dot" id="dot2").input-dot__input-->
        <!--                    label(for="dot2").input-dot__label-->
        <!--                        span.input-dot__dot.input-dot__dot_radio-->
        <!--                        span.input-dot__text Button-->
        <!--                .input-dot-->
        <!--                    input(type="radio" name="dot" id="dot3").input-dot__input-->
        <!--                    label(for="dot3").input-dot__label-->
        <!--                        span.input-dot__dot.input-dot__dot_radio-->
        <!--                        span.input-dot__text Button-->
        <!---->
        <!--        .btn-blocks__element.btn-blocks__element_width_50x50x50-->
        <!--            .btn-blocks__content-->
        <!--                .input-dot-->
        <!--                    input(type="checkbox" name="check" id="check1").input-dot__input-->
        <!--                    label(for="check1").input-dot__label-->
        <!--                        span.input-dot__dot.input-dot__dot_check-->
        <!--                        span.input-dot__text Выбери-->
        <!---->
        <!--                .input-dot-->
        <!--                    input(type="checkbox" name="check" id="check2").input-dot__input-->
        <!--                    label(for="check2").input-dot__label-->
        <!--                        span.input-dot__dot.input-dot__dot_check-->
        <!--                        span.input-dot__text Выбери-->
        <!--                .input-dot-->
        <!--                    input(type="checkbox" name="check" id="check3").input-dot__input-->
        <!--                    label(for="check3").input-dot__label-->
        <!--                        span.input-dot__dot.input-dot__dot_check-->
        <!--                        span.input-dot__text Выбери-->
      </div>
    </div>
    <footer>
      <!-- include footer/footer.pug-->
      <script rel="script" src="script/jquery-1.12.4.min.js"></script>
      <script rel="script" src="script/mainScript.js"></script>
    </footer>
  </body>
</html>
